.text-spicyMix {
  color: #8A584C;
}
.text-cascade {
  color: #8FA6AC;
}
.text-albWhite {
  color: #F5EACF;
}
.text-sorrelBrown {
  color: #CEB793;
}
.text-clayCreek {
  color: #85865F;
}
.text-kelp {
  color: #4F583D;
}
