.text-spicyMix {
  color: #8A584C;
}
.text-cascade {
  color: #8FA6AC;
}
.text-albWhite {
  color: #F5EACF;
}
.text-sorrelBrown {
  color: #CEB793;
}
.text-clayCreek {
  color: #85865F;
}
.text-kelp {
  color: #4F583D;
}
.text-spicyMaroon {
  color: #7E4238;
}
.text-softSpice {
  color: #D39087;
}
.text-paleCascade {
  color: #B5B59D;
}
.text-warmIvory {
  color: #F7E2B4;
}
.text-gbv-blue {
  color: #2596be;
}
.background-spicyMaroon {
  background-color: #7E4238;
}
.background-softSpice {
  background-color: #D39087;
}
.background-paleCascade {
  background-color: #B5B59D;
}
.background-warmIvory {
  background-color: #F7E2B4;
}
