@import url(colors.less);
@import url(media-sizes.less);
@import url(font/segoeUi.css);

// General Purpose Classes

*{
    text-decoration: none;
    font: inherit;
    
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

span{
    font-size: inherit;
    font-family: inherit;
}

.text-font-semilight{
    font-family: Segoe UI Semilight;
}
.text-font-normal{
    font-family: Segoe UI;
}
.text-font-semibold{
    font-family: Segoe UI Semibold;
}

.text-center{
    text-align: center;
}
.center{
    margin: auto;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.icon{
    width: 50px;
    height: auto;
}
.text-center{
    text-align: center;
}

// Specific Classes

.navbar-container{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    @media @desktopDevices {
        padding-top: 10px;
    }

    .nav-contact{
        display: flex;
        margin-left: 15px;       

        .linkedIn-icon, .git-icon{
            @media @mobileDevices{
                padding-top: 10px;
                @media @tablet {
                    padding-top: 12.5px;
                }
            }
            img{
                @media @desktopDevices {
                    @media @4k {
                        width: 70px;
                    }
                    @media @laptopL {
                        width: 60px;
                    }
                    @media @laptopM {
                        width: 50px;
                    }
                    @media @laptopS {
                        width: 50px;
                    }
                }
                @media @mobileDevices{
                    @media @tablet {
                        width: 50px;
                    }
                    @media @mobileL {
                        width: 40px;
                    }
                    @media @mobileM {
                        width: 35px;
                    }
                    @media @mobileS {
                        width: 35px;
                    }
                }
            }
        }
        .mail-icon{
            margin-left: 15px;
        }
    }

    .nav-content-container{
        background-color: transparent;
        @media @desktopDevices {
            display: flex;
            align-items: center;
        }
        @media @mobileDevices {
            min-width: 30vw;
            @media @mobileL {
                min-width: 40vw;
            }
            @media @mobileM {
                min-width: 45vw;
            }
            @media @mobileS {
                min-width: 50vw;
            }
            background-image: url(../img/Backgrounds/Nav-background.png);
            overflow: visible;
            background-size: contain;
            background-position-y: top;
            background-position-x: right;
            background-repeat: no-repeat;
        }

        .openNavIcon{
            @media @desktopDevices {
                display: none !important;
            }
            @media @mobileDevices {
                display: block;
                text-align: right;
            }
            
            button{
                img{
                    @media @mobileDevices {
                        padding-right: 1vw;
                        height: auto;
                        @media @tablet {
                            width: 65px;
                        }
                        @media @mobileL {
                            width: 55px;
                        }
                        @media @mobileM {
                            width: 55px;
                        }
                        @media @mobileS {
                            width: 50px;
                        }
                    }
                }
                background-color: transparent;
                outline: none;
                border: none;
                width: 70px;    
            }
        }

        .nav-links{
            @media @desktopDevices {
                display: flex !important;
                padding-right: 15px;
            }
            @media @mobileDevices {
                display: block;
                text-align: center;
                z-index: 2;
                padding-right: 0;
                padding-bottom: 20vh;
                padding-top: 1.5vh;

            }
        
            p{
                @media @desktopDevices {
                    color: @AlbescentWhite !important;
                }
                @media @mobileDevices {
                    color: @SpicyMix !important;
                    @media @mobileL {
                        font-size: 25px;
                    }
                    @media @mobileM {
                        font-size: 22.5px;
                    }
                    @media @mobileS {
                        font-size: 20px;
                    }
                }
                font-size: 30px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 0;
                margin-top: 0;
                padding-bottom: 5px;
                padding-top: 5px;
            }

    
        }
      
    }
}

.home-container{
    background-color: @ClayCreek;

    .header-section{
        height: 100vh;
        .header-title-container{
            padding-top: 25vh;
            @media @desktopDevices {
                padding-left: 140px;
                @media @4k {
                    padding-left: 160px;
                }
            }
            @media @mobileDevices {
              padding-left: 3vw;
            }
            h1,h2,p,span{
                padding: 0;
                margin: 0;
            }
            h1{
                @media @desktopDevices {
                    font-size: 100px;
                    @media @laptopS {
                        font-size: 90px;
                    }
                }
                @media @mobileDevices{
                    @media @tablet {
                        font-size: 80px;
                    }
                    @media @mobileL {
                        font-size: 70px;
                    }
                    @media @mobileM {
                        font-size: 60px;
                    }
                    @media @mobileS {
                        font-size: 60px;
                    }
                }
            }
            h2{
                @media @desktopDevices {
                    font-size: 90px;
                    @media @laptopS {
                        font-size: 80px;
                    }
                }
                @media @mobileDevices{
                    @media @tablet {
                        font-size: 70px;
                    }
                    @media @mobileL {
                        font-size: 50px;
                    }
                    @media @mobileM {
                        font-size: 40px;
                    }
                    @media @mobileS {
                        font-size: 40px;
                    }
                }
            }
            p{
                padding-top: 0.5vh;
                
                @media @desktopDevices {
                    font-size: 50px;
                    @media @laptopS {
                        font-size: 45px;
                    }
                }
                @media @mobileDevices{
                    @media @tablet {
                        font-size: 40px;
                    }
                    @media @mobileL {
                        font-size: 35px;
                    }
                    @media @mobileM {
                        font-size: 30px;
                    }
                    @media @mobileS {
                        font-size: 25px;
                    }
                }
            }
            span{
                font-size: inherit;
                font-family: inherit;
            }

            .text-breaker{
                @media @desktopDevices {
                    display: none;
                }
                @media @mobileDevices {
                    display: block;
                    @media @tablet {
                        display: none;
                    }
                }
                height: 0;
            }
        }

        .header-arrow{
            position: absolute;
            bottom: 1vw;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: auto;

            img{
                height: auto;
                @media @desktopDevices {
                    @media @4k {
                        width: 90px;
                    }
                    @media @laptopL {
                        width: 80px;
                    }
                    @media @laptopM {
                        width: 70px;
                    }
                    @media @laptopS {
                        width: 70px;
                    }
                }
                @media @mobileDevices{
                    @media @tablet {
                        width: 70px;
                    }
                    @media @mobileL {
                        width: 60px;
                    }
                    @media @mobileM {
                        width: 55px;
                    }
                    @media @mobileS {
                        width: 55px;
                    }
                } 
            }
        }


        
    }

    .myself-section{
        padding-top: 5vh;
        min-height: 100vh;
   
        h1{
            @media @desktopDevices {
                padding-left: 140px;
                @media @4k {
                    padding-left: 160px;
                }
            }
            @media @mobileDevices {
              padding-left: 3vw;
            }
            text-align: center;
            padding-bottom: 2vh;
            @media @desktopDevices {
                font-size: 90px;
                
                @media @laptopS {
                    font-size: 80px;
                }
            }
            @media @mobileDevices {
                @media @tablet {
                    font-size: 60px;
                }
                @media @mobileL {
                    font-size: 35px;
                }
                @media @mobileM {
                    font-size: 30px;
                }
                @media @mobileS {
                    font-size: 30px;
                }
            }
        }

        .text-section{
            font: inherit;
            padding-bottom: 5vh;
            p{
                font: inherit;
                margin: auto;
                max-width: 60ch; 
                text-align: center;  

                @media @desktopDevices {
                    font-size: 30px;
                    @media @laptopS {
                        font-size: 25px;
                    }
                }
                @media @mobileDevices {
                    @media @tablet {
                        font-size: 20px;
                    }
                    @media @mobileL {
                        font-size: 20px;
                    }
                    @media @mobileM {
                        font-size: 18px;
                    }
                    @media @mobileS {
                        font-size: 16px;
                    }
                    
                }
            }
        }
    }

    .skills-section {
        padding-top: 5vh;
        h1{
            @media @desktopDevices {
                padding-left: 140px;
                @media @4k {
                    padding-left: 160px;
                }
            }
            @media @mobileDevices {
              padding-left: 3vw;
            }
            text-align: center;
            padding-bottom: 2vh;
            max-width: 80vw;
            @media @desktopDevices {
                font-size: 90px;
                
                @media @laptopS {
                    font-size: 80px;
                }
            }
            @media @mobileDevices {
                @media @tablet {
                    font-size: 60px;
                }
                @media @mobileL {
                    font-size: 35px;
                }
                @media @mobileM {
                    font-size: 30px;
                }
                @media @mobileS {
                    font-size: 30px;
                }
            }
        }
        .skill-legend{
            padding-bottom: 5vh;
            .legend-item{
                display: flex;  
                align-items: center;
                width: 80vw;
                min-width: fit-content;
                margin: auto;
           
                .progressBar-container{
                    height: 20px;
                    width: 168px;
                    text-align: center;
                    img{
                        height: 20px;
                    }
                }
                p{
                    max-width: 60ch;
                    padding-left: 2vw;
                    font: inherit;
                    font-size: 30px;
                    color: inherit;
                }
                
    
            }
        }
        .skill-subsection{
            width: 80vw;
            min-width: fit-content;
            margin: auto;
            margin-bottom: 5vh;
            border: solid @AlbescentWhite 10px;
            padding: 5vw;
            padding-top: 1vw;
            padding-bottom: 1vw;
            border-radius: 23px;
            h2{
                font-size: 50px;
                margin-bottom: 2vh;
            }
            .skill{
                margin: auto;
                width: 30vw;
                min-width: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .progressBar-container{
                    height: 20px;
                    width: 168px;
                    img{
                        height: 20px;
                    }
                }
                p{
                    width: 15vw;
                    padding-right: 2vw;
                    font: inherit;
                    font-size: 30px;
                    color: inherit;
                }
            }
            .skill-certificate{
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font: inherit;
                    font-size: 30px;
                    color: inherit;
                }
            }
        }


    }

    .projects-section{
        padding-top: 5vh;
        min-height: 500vh;
        h1{
            padding-bottom: 5vh;
           
            @media @desktopDevices {
                font-size: 90px;
                
                @media @laptopS {
                    font-size: 80px;
                }
            }
            @media @mobileDevices {
                @media @tablet {
                    font-size: 60px;
                }
                @media @mobileL {
                    font-size: 35px;
                }
                @media @mobileM {
                    font-size: 30px;
                }
                @media @mobileS {
                    font-size: 30px;
                }
            }
        }
        
        .projects-grid{
            margin: auto;
            width: 80vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vw;
            grid-gap: 5vw;

            .project{
                border-radius: 45px;
                height: 40vh;
                width: auto;
                background-color: @AlbescentWhite;
                display: flex;
                align-items: center;
                &.size-full {
                    grid-column: span 2;
                }
                &.size-half{
                    grid-column: span 1;
                    p{
                        font-size: 40px;
                    }
                }

                // Individual Projects Backgrounds
                &#techbird-project{
                    background-color: #f4f4f4;
                    background-image: url(../img/Backgrounds/Techbird-Project/Logo-small-White.svg);
                    background-size: cover;
                    background-position: center;
                }
                &#gbv-project{
                    background-color:  @AlbescentWhite;
                    background-image: url(../img/Backgrounds/GBV-Logo-Wide-Background.png);
                    background-size: cover;
                    background-position: left;
                    p{
                        padding-left: 5vw;
                        font-size: 40px;
                    }
                }
                &#arduino-project{
                    background-color: @AlbescentWhite;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Arduino-Project/Arduino-project.jpg);
                    background-size: cover;
                    background-position: center;
                }
                &#unity-project{
                    background-color: @AlbescentWhite;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.409)),url(../img/Backgrounds/Unity-Project/unity-project.jpeg);
                    background-size: cover;
                    background-position: left;

                }
                &#glsl-project{
                    background-color: @AlbescentWhite;
                    // background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/GLSL-Project/glsl-project.webp);
                    background-image: url(../img/Backgrounds/GLSL-Project/glsl-project.webp);
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
  
}

