@import url(font/segoeUi.css);
.text-spicyMix {
  color: #8A584C;
}
.text-cascade {
  color: #8FA6AC;
}
.text-albWhite {
  color: #F5EACF;
}
.text-sorrelBrown {
  color: #CEB793;
}
.text-clayCreek {
  color: #85865F;
}
.text-kelp {
  color: #4F583D;
}
.text-spicyMaroon {
  color: #7E4238;
}
.text-softSpice {
  color: #D39087;
}
.text-paleCascade {
  color: #B5B59D;
}
.text-warmIvory {
  color: #F7E2B4;
}
.text-gbv-blue {
  color: #2596be;
}
.background-spicyMaroon {
  background-color: #7E4238;
}
.background-softSpice {
  background-color: #D39087;
}
.background-paleCascade {
  background-color: #B5B59D;
}
.background-warmIvory {
  background-color: #F7E2B4;
}
* {
  text-decoration: none;
  font: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
span {
  font-size: inherit;
  font-family: inherit;
}
.text-font-semilight {
  font-family: Segoe UI Semilight;
}
.text-font-normal {
  font-family: Segoe UI;
}
.text-font-semibold {
  font-family: Segoe UI Semibold;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.icon {
  width: 50px;
  height: auto;
}
.text-center {
  text-align: center;
}
.navbar-container {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #4F583D;
  z-index: 1;
  padding-bottom: 1vh;
}
@media  (min-width: 769px) {
  .navbar-container {
    padding-top: 10px;
  }
}
.navbar-container .nav-contact {
  display: flex;
  margin-left: 15px;
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-contact .linkedIn-icon,
  .navbar-container .nav-contact .git-icon {
    padding-top: 10px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .navbar-container .nav-contact .linkedIn-icon,
  .navbar-container .nav-contact .git-icon {
    padding-top: 12.5px;
  }
}
@media  (min-width: 769px) and  (min-width: 2561px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 70px;
  }
}
@media  (min-width: 769px) and  (min-width: 1441px) and (max-width: 2560px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 60px;
  }
}
@media  (min-width: 769px) and  (min-width: 1025px) and (max-width: 1440px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 50px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 50px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 50px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 40px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 35px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .navbar-container .nav-contact .linkedIn-icon img,
  .navbar-container .nav-contact .git-icon img {
    width: 35px;
  }
}
.navbar-container .nav-contact .mail-icon {
  margin-left: 15px;
}
.navbar-container .nav-content-container {
  background-color: transparent;
}
@media  (min-width: 769px) {
  .navbar-container .nav-content-container {
    display: flex;
    align-items: center;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container {
    min-width: 30vw;
    background-image: url(../img/Backgrounds/Nav-background.png);
    overflow: visible;
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .navbar-container .nav-content-container {
    min-width: 40vw;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .navbar-container .nav-content-container {
    min-width: 45vw;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .navbar-container .nav-content-container {
    min-width: 50vw;
  }
}
@media  (min-width: 769px) {
  .navbar-container .nav-content-container .openNavIcon {
    display: none !important;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .openNavIcon {
    display: block;
    text-align: right;
  }
}
.navbar-container .nav-content-container .openNavIcon button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 70px;
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    padding-right: 1vw;
    height: auto;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    width: 65px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    width: 55px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    width: 55px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    width: 50px;
  }
}
@media  (min-width: 769px) {
  .navbar-container .nav-content-container .nav-links {
    display: flex !important;
    padding-right: 15px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .nav-links {
    display: block;
    text-align: center;
    z-index: 2;
    padding-right: 0;
    padding-bottom: 20vh;
    padding-top: 1.5vh;
  }
}
.navbar-container .nav-content-container .nav-links p {
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media  (min-width: 769px) {
  .navbar-container .nav-content-container .nav-links p {
    color: #F5EACF !important;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .nav-links p {
    color: #8A584C !important;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .navbar-container .nav-content-container .nav-links p {
    font-size: 25px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .navbar-container .nav-content-container .nav-links p {
    font-size: 22.5px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .navbar-container .nav-content-container .nav-links p {
    font-size: 20px;
  }
}
.home-container {
  background-color: #85865F;
}
.home-container .header-section {
  height: 100vh;
}
.home-container .header-section .header-title-container {
  padding-top: 25vh;
}
@media  (min-width: 769px) {
  .home-container .header-section .header-title-container {
    padding-left: 140px;
  }
}
@media  (min-width: 769px) and  (min-width: 2561px) {
  .home-container .header-section .header-title-container {
    padding-left: 160px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .home-container .header-section .header-title-container {
    padding-left: 3vw;
  }
}
.home-container .header-section .header-title-container h1,
.home-container .header-section .header-title-container h2,
.home-container .header-section .header-title-container p,
.home-container .header-section .header-title-container span {
  padding: 0;
  margin: 0;
}
@media  (min-width: 769px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 100px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 90px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 80px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 70px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 60px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .header-section .header-title-container h1 {
    font-size: 60px;
  }
}
@media  (min-width: 769px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 90px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 80px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 70px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 50px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 40px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .header-section .header-title-container h2 {
    font-size: 40px;
  }
}
.home-container .header-section .header-title-container p {
  padding-top: 0.5vh;
}
@media  (min-width: 769px) {
  .home-container .header-section .header-title-container p {
    font-size: 50px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .header-section .header-title-container p {
    font-size: 45px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .header-section .header-title-container p {
    font-size: 40px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .header-section .header-title-container p {
    font-size: 35px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .header-section .header-title-container p {
    font-size: 30px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .header-section .header-title-container p {
    font-size: 25px;
  }
}
.home-container .header-section .header-title-container span {
  font-size: inherit;
  font-family: inherit;
}
.home-container .header-section .header-title-container .text-breaker {
  height: 0;
}
@media  (min-width: 769px) {
  .home-container .header-section .header-title-container .text-breaker {
    display: none;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .home-container .header-section .header-title-container .text-breaker {
    display: block;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .header-section .header-title-container .text-breaker {
    display: none;
  }
}
.home-container .header-section .header-arrow {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
}
.home-container .header-section .header-arrow img {
  height: auto;
}
@media  (min-width: 769px) and  (min-width: 2561px) {
  .home-container .header-section .header-arrow img {
    width: 90px;
  }
}
@media  (min-width: 769px) and  (min-width: 1441px) and (max-width: 2560px) {
  .home-container .header-section .header-arrow img {
    width: 80px;
  }
}
@media  (min-width: 769px) and  (min-width: 1025px) and (max-width: 1440px) {
  .home-container .header-section .header-arrow img {
    width: 70px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .header-section .header-arrow img {
    width: 70px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .header-section .header-arrow img {
    width: 70px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .header-section .header-arrow img {
    width: 60px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .header-section .header-arrow img {
    width: 55px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .header-section .header-arrow img {
    width: 55px;
  }
}
.home-container .myself-section {
  padding-top: 5vh;
  min-height: 100vh;
}
.home-container .myself-section h1 {
  text-align: center;
  padding-bottom: 2vh;
}
@media  (min-width: 769px) {
  .home-container .myself-section h1 {
    padding-left: 140px;
  }
}
@media  (min-width: 769px) and  (min-width: 2561px) {
  .home-container .myself-section h1 {
    padding-left: 160px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .home-container .myself-section h1 {
    padding-left: 3vw;
  }
}
@media  (min-width: 769px) {
  .home-container .myself-section h1 {
    font-size: 90px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .myself-section h1 {
    font-size: 80px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .myself-section h1 {
    font-size: 60px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .myself-section h1 {
    font-size: 35px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .myself-section h1 {
    font-size: 30px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .myself-section h1 {
    font-size: 30px;
  }
}
.home-container .myself-section .text-section {
  font: inherit;
  padding-bottom: 5vh;
}
.home-container .myself-section .text-section p {
  font: inherit;
  margin: auto;
  max-width: 60ch;
  text-align: center;
}
@media  (min-width: 769px) {
  .home-container .myself-section .text-section p {
    font-size: 30px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .myself-section .text-section p {
    font-size: 25px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .myself-section .text-section p {
    font-size: 20px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .myself-section .text-section p {
    font-size: 20px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .myself-section .text-section p {
    font-size: 18px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .myself-section .text-section p {
    font-size: 16px;
  }
}
.home-container .skills-section {
  padding-top: 5vh;
}
.home-container .skills-section h1 {
  text-align: center;
  padding-bottom: 2vh;
  max-width: 80vw;
}
@media  (min-width: 769px) {
  .home-container .skills-section h1 {
    padding-left: 140px;
  }
}
@media  (min-width: 769px) and  (min-width: 2561px) {
  .home-container .skills-section h1 {
    padding-left: 160px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) {
  .home-container .skills-section h1 {
    padding-left: 3vw;
  }
}
@media  (min-width: 769px) {
  .home-container .skills-section h1 {
    font-size: 90px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .skills-section h1 {
    font-size: 80px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .skills-section h1 {
    font-size: 60px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .skills-section h1 {
    font-size: 35px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .skills-section h1 {
    font-size: 30px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .skills-section h1 {
    font-size: 30px;
  }
}
.home-container .skills-section .skill-legend {
  padding-bottom: 5vh;
}
.home-container .skills-section .skill-legend .legend-item {
  display: flex;
  align-items: center;
  width: 80vw;
  min-width: fit-content;
  margin: auto;
}
.home-container .skills-section .skill-legend .legend-item .progressBar-container {
  height: 20px;
  width: 168px;
  text-align: center;
}
.home-container .skills-section .skill-legend .legend-item .progressBar-container img {
  height: 20px;
}
.home-container .skills-section .skill-legend .legend-item p {
  max-width: 60ch;
  padding-left: 2vw;
  font: inherit;
  font-size: 30px;
  color: inherit;
}
.home-container .skills-section .skill-subsection {
  width: 80vw;
  min-width: fit-content;
  margin: auto;
  margin-bottom: 5vh;
  border: solid #F5EACF 10px;
  padding: 5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 23px;
}
.home-container .skills-section .skill-subsection h2 {
  font-size: 50px;
  margin-bottom: 2vh;
}
.home-container .skills-section .skill-subsection .skill {
  margin: auto;
  width: 30vw;
  min-width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home-container .skills-section .skill-subsection .skill .progressBar-container {
  height: 20px;
  width: 168px;
}
.home-container .skills-section .skill-subsection .skill .progressBar-container img {
  height: 20px;
}
.home-container .skills-section .skill-subsection .skill p {
  width: 15vw;
  padding-right: 2vw;
  font: inherit;
  font-size: 30px;
  color: inherit;
}
.home-container .skills-section .skill-subsection .skill-certificate {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .skills-section .skill-subsection .skill-certificate p {
  font: inherit;
  font-size: 30px;
  color: inherit;
}
.home-container .projects-section {
  padding-top: 5vh;
}
.home-container .projects-section h1 {
  padding-bottom: 5vh;
}
@media  (min-width: 769px) {
  .home-container .projects-section h1 {
    font-size: 90px;
  }
}
@media  (min-width: 769px) and  (min-width: 769px) and (max-width: 1024px) {
  .home-container .projects-section h1 {
    font-size: 80px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 426px) and (max-width: 768px) {
  .home-container .projects-section h1 {
    font-size: 60px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 376px) and (max-width: 425px) {
  .home-container .projects-section h1 {
    font-size: 35px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 321px) and (max-width: 375px) {
  .home-container .projects-section h1 {
    font-size: 30px;
  }
}
@media  (min-width: 0px) and (max-width: 768px) and  (min-width: 0) and (max-width: 330px) {
  .home-container .projects-section h1 {
    font-size: 30px;
  }
}
.home-container .projects-section .projects-grid {
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  grid-gap: 5vw;
}
.home-container .projects-section .projects-grid .project {
  position: relative;
  border-radius: 45px;
  height: 50vh;
  width: auto;
  background-color: #F5EACF;
  display: flex;
  align-items: center;
}
.home-container .projects-section .projects-grid .project.size-two {
  grid-column: span 2;
}
.home-container .projects-section .projects-grid .project.size-two p.project-title {
  font-size: 40px;
}
.home-container .projects-section .projects-grid .project.size-one {
  grid-column: span 1;
}
.home-container .projects-section .projects-grid .project.size-one p.project-title {
  font-size: 40px;
}
.home-container .projects-section .projects-grid .project#techbird-project {
  background-color: #f4f4f4;
  background-image: url(../img/Backgrounds/Techbird-Project/Logo-small-White.svg);
  background-size: cover;
  background-position: center;
}
.home-container .projects-section .projects-grid .project#gbv-project {
  background-color: #F5EACF;
  background-image: url(../img/Backgrounds/GBV-Project/gbv-logo.png);
  background-size: 25%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}
.home-container .projects-section .projects-grid .project#arduino-project {
  background-color: #F5EACF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/Backgrounds/Arduino-Project/Arduino-project.jpg);
  background-size: cover;
  background-position: center;
}
.home-container .projects-section .projects-grid .project#unity-project {
  background-color: #F5EACF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.409)), url(../img/Backgrounds/Unity-Project/unity-project.jpeg);
  background-size: cover;
  background-position: left;
}
.home-container .projects-section .projects-grid .project#glsl-project {
  background-color: #F5EACF;
  background-image: url(../img/Backgrounds/GLSL-Project/glsl-project.webp);
  background-size: cover;
  background-position: center;
}
.home-container .projects-section .projects-grid .project .overlay {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 45px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.628);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.home-container .projects-section .projects-grid .project .overlay .overlay-text {
  display: block;
}
.home-container .projects-section .projects-grid .project .overlay .overlay-text p {
  margin: auto;
  font-size: 20px;
  color: #F5EACF;
  max-width: 60ch;
  padding-bottom: 1vh;
}
.home-container .projects-section .projects-grid .project .overlay .overlay-text button {
  margin-top: 1vh;
  margin: auto;
  width: 20vw;
  height: 5vh;
  border-radius: 23px;
  border: none;
  background-color: #F5EACF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container .projects-section .projects-grid .project .overlay .overlay-text button p {
  color: #8A584C;
}
.home-container .projects-section .projects-grid .project:hover .overlay {
  display: flex;
}
