.text-spicyMix {
  color: #8A584C;
}
.text-cascade {
  color: #8FA6AC;
}
.text-albWhite {
  color: #F5EACF;
}
.text-sorrelBrown {
  color: #CEB793;
}
.text-clayCreek {
  color: #85865F;
}
.text-kelp {
  color: #4F583D;
}
* {
  text-decoration: none;
  font-family: "SegoeUI";
}
html,
body {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.icon {
  width: 50px;
  height: auto;
}
.navbar-container {
  margin: 0;
  padding: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
}
.navbar-container .nav-contact {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}
.navbar-container .nav-contact .linkedIn-icon img {
  width: 50px;
}
.navbar-container .nav-contact .mail-icon {
  margin-left: 15px;
}
.navbar-container .nav-contact .mail-icon img {
  width: 50px;
}
.navbar-container .nav-content-container {
  background-color: transparent;
  background-image: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container {
    background-color: #F5EACF;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
}
@media (min-width: 769px) {
  .navbar-container .nav-content-container .openNavIcon {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .openNavIcon {
    display: block;
    text-align: right;
  }
}
.navbar-container .nav-content-container .openNavIcon button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .openNavIcon button img {
    width: 60px;
    height: auto;
  }
}
@media (min-width: 769px) {
  .navbar-container .nav-content-container .nav-links {
    display: flex !important;
    padding-right: 15px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .nav-links {
    display: block;
    text-align: center;
    z-index: 2;
    padding-right: 0;
  }
}
.navbar-container .nav-content-container .nav-links p {
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 769px) {
  .navbar-container .nav-content-container .nav-links p {
    color: #F5EACF !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar-container .nav-content-container .nav-links p {
    color: #8A584C !important;
  }
}
.home-container {
  background-color: #85865F;
  height: 200vh;
}
